{% macro pkglist(title, packages) %}
  {% if packages %}
      <li>{{ title }}</li>
      <ul>
      {% for pkg, arches in packages %}
        <li>{{ pkg }}: {{ arches|join(' ') }}</li>
      {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}
<html>
  <head>
    <title>Summary of ongoing transitions</title>
  </head>
  <body>
  <h1>Summary of ongoing transitions</h1>
{% if ongoing_transitions %}
  <h2>Active transitions</h2>
  {% for t in ongoing_transitions %}
    <h3>{{ t.name }} ({{ t.percent_done }}%)</h3>
    <ul>
      <li>
        Binary-based stats: {{ t.bin_pending }}/{{ t.bin_total }} builds missing
      </li>
      <li>
        Source-based stats: {{ t.src_pending }}/{{ t.src_total }} packages missing at least one build
      </li>
      {% if t.pending_packages %}
      <li>
        <a href="https://buildd.debian.org/~luk/status/package.php?p={{
          t.pending_packages|urlescape|join(',')
        }}">Buildd link for missing packages</a>
      </li>
      {% endif %}
      {% if t.pending_nmus %}
      <li>
        Needs another Bin-NMU round: yes
      </li>
      {% endif %}
    </ul>
  {% endfor %}
  <hr />
{% endif %}

{% if partial_transitions %}
  <h2>Transitions that need cleanup in testing</h2>
  {% for t in partial_transitions %}
    <h3>{{ t.name }} ({{ t.total }} reverse dependencies)</h3>
    <ul>
    {{ pkglist("Not fixed in unstable", t.unstable_not_ok) }}
    {{ pkglist("Pending migration", t.unstable_ok) }}
    </ul>
  {% endfor %}
  <hr />
{% endif %}

{% if unstarted_transitions %}
  <h2>Unstarted transitions</h2>
    <ul>
    {% for t in unstarted_transitions %}
      <li>{{ t }}</li>
    {% endfor %}
    </ul>
  <hr />
{% endif %}

{% if finished_transitions %}
  <h2>Finished transitions</h2>
    <ul>
    {% for t in finished_transitions %}
      <li>{{ t }}</li>
    {% endfor %}
    </ul>
  <hr />
{% endif %}

  <p style="font-size: xx-small">Generated on: {{ now }}</p>
  </body>
</html>
{# vim: set ft=htmljinja : #}
